@use "../../styles/variables" as *;
@use "../../styles/reset" as *;
@use "../../styles/_typography" as *;

.clientActive {
  display: flex;
  background-color: #ebebf5;
  .cards {
    margin-top: 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 80px;
  .heading {
    font-size: 20px;
  }
}

.homeButton {
  display: none;
}

@media screen and (max-width: 376px) {
  * {
    margin-bottom: 100px;
  }

  .clientActive {
    height: 100%;
  }
  .content {
    margin: auto;
  }
  .heading {
    display: none;
  }
}
