.staff-page {
  background-color: #ebebf5;

  &__mobile {
    display: none;
  }
  &__page {
    display: flex;

    &--rightside {
      width: 100%;
    }
  }

  .staff-wrap {
    overflow-y: auto;
    height: 400px;
  }
}

@media screen and (max-width: 720px) {
  .staff-page {
    padding-top: 100px;
    height: 100vh;
    &__mobile {
      display: unset;
    }

    &__page {
      &--rightside {
        display: none;
      }
    }
  }
}
