.staff-page {
  background-color: #ebebf5;

  &__mobile {
    display: none;
  }
  &__page {
    display: grid;
    grid-template-columns: 309px 1fr;
    grid-template-rows: 145px 1fr;

    &--rightside {
      width: 100%;
      margin-top: 30px;
    }
  }

  .staff-wrap {
    overflow-y: auto;
    height: 400px;
  }
}

@media screen and (max-width: 720px) {
  .staff-page {
    height: 100vh;
    &__mobile {
      display: unset;
    }

    &__page {
      display: none;
    }
  }
}
