@use "../../styles/variables.scss" as *;

.booking {
  display: flex;
  background-color: #ebebf5;
  &__nav {
  }
  &__main {
    &--right {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__heading {
    width: 100vw;
    height: 100px;
    background-color: $color-white-header;
  }
}
