.edit-resources {
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
  }

 
}

@media screen and (min-width: 720px) {
  .edit-resources {
    display: flex;
    &__container {
      width: 100vw;
    }
  }
}
