@use "../../styles/variables" as *;
@use "../../styles/reset" as *;
@use "../../styles/_typography" as *;

.SideNav {
  background-color: $color-primary;
  height: 100vh;
  box-shadow: 0px 20px 40px #f0f0ee;
  border-radius: 0px 30px 0px 0px;
  max-width: 309px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  grid-row-start: 1;
  grid-row-end: 3;

  .SideNav--line {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    .white-logo {
      height: 80px;
      max-width: 130px;
      left: 29%;
      right: 43.5%;
      top: 4.75%;
      bottom: 88.22%;
    }
  }

  .active {
    text-decoration: none;
    background: $color-secondary;
  }

  #line1 {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 720px) {
  .SideNav {
    display: none;
  }
}
