.topnav {
    min-height: 157px;
    max-width: 1131px;
    margin-left: 309px;
    background-color: #FFFFFF;
    // border: 1px solid black;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 111px 0px 102px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__button {
        width: 130px;
        height: 50px;
        border-radius: 7px;
        border: none;
        background-color: #E5C58A;
        color: #FFFFFF;
        font-size: 16px;

    }

    &__heading {
        font-size: 32px;
        font-family: Poppins;
        color: #2D3748;
    }
}
