// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//text colors
$text-color: #2D3748;
$text-white: #f3f2e8; 

//button colors
$color-buttonPrimary: #E5C58A;
$color-buttonSecondary:  #EE6161;  
$color-buttonTertiary: rgba(124, 118, 138, 0.25);

//side nav colors
$color-primary: #8AAAE5;
$color-secondary: rgba(42, 95, 194, 0.5);

//Background colors
$color-background-main:#A7A7A7;
$color-white-header: #FFFFFF;




