@use "../../styles/variables" as *;

.MobileNav {
  display: none;
}

.mockHeader {
  display: none;
}

.layout {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;
  background-color: $color-white-header;
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;

  .rowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
  }
}

@media screen and (max-width: 720px) {
  .MobileNav {
    display: unset;
  }

  .desktopNav {
    display: none;
  }
  .cardContainer {
    display: none;
  }
  .layout {
    background-color: $color-white-header;
  }
  .SideNav {
    display: none;
  }
  .mockHeader {
    display: block;
  }
}
