@use "../../styles/variables" as *;
@use "../../styles/main.scss" as *;

.clients-container {
  background-color: #ebebf5;
  height: 100vh;
  padding-top: 100px;

  &__mobile {
    display: none;
  }

  &__page {
    display: flex;
    height: 100%;

    &--rightside {
      width: 100%;
    }
  }
}

@media screen and (max-width: 720px) {
  .clients-container {
    &__mobile {
      display: unset;
    }

    &__page {
      &--rightside {
        display: none;
      }
    }
  }
}
