.resources {
  background-color: #ebebf5;

  &__container {
    display: none;
  }

  .desktop__container {
    display: grid;
    grid-template-columns: 309px 1fr;
    grid-template-rows: 145px 1fr;

    &--right {
      margin-top: 30px;
      grid-column-start: 2;
    }
  }

  .data-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
  }
}

.table-header {
  margin-left: 50px;
  color: #95accb;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

@media screen and (max-width: 720px) {
  .resources__container {
    display: unset;
    padding-top: 100px;
    flex-direction: column;
    width: 100%;
    overflow: scroll;

    .mobile-table-header {
      width: auto;
      display: flex;
      justify-content: flex-start;
      margin-left: 50px;
      color: #95accb;
      font-size: 14px;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  .resources {
    .desktop__container {
      display: none;
    }
  }
}
