@use "../../styles/variables" as *;
@use "../../styles/reset" as *;
@use "../../styles/_typography" as *;

.widget {
    position:absolute;
    top:180px;
    left:400px;
    width:450px;
    height:250px;
    background-color: white;
    border:2px solid #95ACCB;
    border-radius: 15px;
    padding:30px;

    h1 {
        color: #2D3748;
    }

    .colorMode {
        display:flex;
    }

    .textMode {
        margin-top:15px;
        display:flex;
        gap:35px;
        
        p {
            color: #95ACCB;
            font-size:17px;
        }
    }

    h1 {
        font-size: 18px;
    }

    .theme {
        display:flex;
        gap:10px;

    }

.switch {
    margin-top:9px;
    margin-left:17px;
    margin-right:16px;
    position: relative;
    display: inline-block;
    width: 65px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  white;
    -webkit-transition: .4s;
    transition: .4s;
    border:2px solid #95ACCB;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3.5px;
    bottom: 2.5px;
    background-color: #95ACCB;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:  #2D3748;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2D3748;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  img {
    width:25px;
  }

  .selector {
    width:15px;
    color: #95ACCB;
    border: 2px solid #95ACCB;
  }

 
}