@use "/src/styles/variables.scss" as *;
@use "/src/styles/_typography.scss" as *;

.header-container {
  display: flex;
  flex-direction: column;
}
h1 {
  color: $background-color;
  text-align: center;
}
p {
  color: $background-color;
  text-align: center;
  opacity: 80%;
  font-size: 14px;
  margin: 0.5rem 0rem;
}
@media screen and (min-width: $mobile-breakpoint) {
}
