@use "/src/styles/_variables.scss" as *;
@use "/src/styles/_typography.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-container {
    margin-top: 33px;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    .header-container {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h1 {
        margin-top: 70px;
        color: $text-black;
        text-align: center;
      }
      p {
        color: $text-black;
        text-align: center;
        opacity: 80%;
        font-size: 14px;
        margin: 0.5rem 0rem;
      }
    }
  }
}

.picture-main {
  display: none;
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;

    .logo-container {
      position: absolute;
      top: 0;
      left: 0;
      margin: 30px;
    }

    .welcome-container {
      .header-container {
        width: 30vw;

        p,
        h1 {
          margin-left: 40px;
          text-align: start;
        }
      }
    }
    .picture-main {
      display: unset;

      width: 100%;
      height: 100vh;

      display: unset;
      background-color: $color-background-main;
      opacity: 10%;
    }
  }
}

.displayMessage {
  position: absolute;
  top: 17%;
  transform: translateY(-50%);
  left: 450px;
  max-width: 50%;
  background-color: $color-secondary;
  color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2s ease-in-out;

  .heading {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }

  button {
    text-decoration: none;
    padding:6px;
    font-size: 22px;
    font-weight: 600;
    background-color: $color-white-header;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom:25px;
  }

}
.displayMessage.hide {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
  

  
