@use "/src/styles/variables.scss" as *;
@use "/src/styles/_typography.scss" as *;

.header-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 70px;
    color: $text-black;
    text-align: center;
  }
  p {
    color: $text-black;
    text-align: center;
    opacity: 80%;
    font-size: 14px;
    margin: 0.5rem 0rem;
  }
}

.picture-container {
  display: none;
}
@media screen and (min-width: $desktop-breakpoint) {
  .welcome-container {
    width: 100;
    display: flex;
  }
  .header-container {
    width: 30%;
    position: fixed;
    left: 400px;
    p,
    h1 {
      margin-left: 40px;
      text-align: start;
    }
  }

  .picture-container {
    display: unset;
    position: fixed;
    right: 0;

    img {
      width: 100%;
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }
  }
}
