@use "../../styles/variables" as *;
@use "../../styles/main.scss" as *;

table {
  border-collapse: separate;
  border-spacing: 0px 20px;
  th {
    padding: 20px 80px;
  }

  td {
    text-align: center;
    padding: 20px;
    border: 5px;
    border: none;
    background-color: $color-white-header;
  }

  tr {
    padding: 10px;
  }

  td:first-child {
    border-radius: 10px 0 0 10px;
  }
  td:last-child {
    border-radius: 0 10px 10px 0;
  }
}
