@use "../../styles/variables" as *;
@use "../../styles/main.scss" as *;

.table-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    display: flex;
    gap: 10px;
  }

  &__sorting {
    display: flex;
    gap: 40px;
    margin-right: 20px;

    p {
      font-size: 14px;
      padding-left: 5px;
    }

    &--input {
      border: none;
      background-color: #dadae5;
      height: 32px;
      width: 172px;
      padding-left: 10px;
    }

    &--search {
      position: absolute;
      width: 25px;
      background-color: #dadae5;
      height: 32px;
      padding-right: 3px;
    }

    &--sort {
      display: flex;
      margin-left: 20px;
    }

    &--filter {
      display: flex;
    }
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  text-align: center;
  margin-left: 50px;
  margin-right: 20px;

  &__column-header {
    font-size: 10px;
    font-weight: 800;
  }
}


#table-title {
  margin-left: 50px;
  margin-right: 83px;
  font-size: 16px;
  font-weight: bold;
}

#table-header {
  margin-left: 50px;
  color: #95accb;
  font-size: 14px;
  font-weight: bold;
}
// .table-container {
//   display: flex;
//   justify-items: center;
//   margin-left: 50px;
// }

// table {
//   border-collapse: separate;
//   border-spacing: 0px 10px;

//   th {
//     padding: 20px 80px 5px 80px;
//     font-size: 8px;
//   }

//   td {
//     color: #95accb;
//     font-weight: 400;
//     font-size: 10px;
//     text-align: center;
//     padding: 20px;
//     border: 5px;
//     border: none;
//     background-color: $color-white-header;
//   }

//   .first-row {
//     font-size: 10px;
//     padding: 10px;
//     &__first-column {
//       color: black;
//       font-weight: 600;
//     }

//     &__bold-column {
//       font-weight: 700;
//     }
//   }

//   td:first-child {
//     border-radius: 10px 0 0 10px;
//   }
//   td:last-child {
//     border-radius: 0 10px 10px 0;
//   }
// }
