* {
  padding: 0;
  margin: 0;
}

.client-card {
  border: 1px solid white;
  width: 270px;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  &__image {
    width: 156px;
    height: 156px;
  }

  &__name {
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 15px;
    color: black;
  }

  &__title {
    text-align: center;
    font-size: 12px;
    font-weight: 400px;
    line-height: 18px;
    color: gray;
    margin-top: 30px;
  }
}
