.displayMessage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 400px;
    max-width: 50%;
    background-color: #F44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
  }
  .displayMessage h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #FF5858;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  
