@use "/src/styles/_variables.scss" as *;
@use "/src/styles/_typography.scss" as *;

.displayMessage {
  position: absolute;
  top: 17%;
  transform: translateY(-50%);
  left: 450px;
  max-width: 40%;
  background-color: $color-secondary;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: $color-secondary;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    

  }

  button {
    text-decoration: none;
    padding:6px;
    font-size: 22px;
    font-weight: 600;
    background-color: $color-white-header;
    border: 2px solid white;
    border-radius: 5px;
  }

}
  

  
